<footer class="page-footer pt-3 bg-gradient m-0">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center ">
                <p class="p-0 text-white mr-3 ft-rubik">Todos os direitos reservados: Time Genducation &copy;</p>
                <p class="p-0 mr-3"><a href="https://github.com/guiAdaCruz/PI_Genducation_FrontEnd" target="_blank"><img class="logo" src="../../assets/img/github.png" alt="Logo do github"></a></p>
                <p class="p-0 mr-3"><a href="https://www.instagram.com/generationbrasil" target="_blank"><img class="logo" src="../../assets/img/instagram.png" alt="Logo do instagram"></a></p>
                <p class="p-0 mr-3"><a href="http://www.facebook.com/generationbrasil" target="_blank"><img class="logo" src="../../assets/img/facebook.png" alt="Logo do facebook"></a></p>
                <p class="p-0 mr-3"><a href="http://www.linkedin.com/school/generationbrasil/" target="_blank"><img class="logo" src="../../assets/img/linkedin.png" alt="Logo do linkedin"></a></p>
            </div>
        </div>
    </div>
    
    </footer>
    