<div class="container ft-rubik borda pb-4 mb-4 margin mt-4">
    <h4 class="text-center mt-0 mb-0 mr-5 ml-5 ft-rubik pt-5 pl-0 pr-0 ">Apoie a gente! Tem alguma dúvida ou dica de como podemos melhorar nossa rede social?</h4>
    <h2 class="text-center mt-1 mb-0 ft-rubik pt-3">Entre em contato</h2>
    <div class="row d-flex align-items-center ml-3 mr-3">
        <div class="col-md-6 ">

            <div class="row d-flex justify-content-center pb-4">

                <div class="col-md-10 mt-5">

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control form-contato w-100 mb-4" type="text" name="nome" id="nome"
                            placeholder="Seu nome">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control form-contato w-100 mb-4" type="email" name="email" id="email"
                            placeholder="Seu email">
                    </div>

                    <div class="form-group">
                        <label for="nome">Mensagem</label>
                        <textarea rows="3" class="form-control form-contato w-100" id="mensagem"></textarea>
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn enviar">Enviar</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6 mt-5 d-flex justify-content-center">
            <img class="w-75" src="./assets/img/Contact.png" alt="imagem contato">
        </div>
    </div>
</div>