@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.form-contato {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.enviar {
    background: linear-gradient(180deg, rgba(118, 10, 255, 0.71) 0%, rgba(5, 0, 255, 0.71) 100%);
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    width: 140px;
    height: 40px;
    color: #FFFFFF;
}

.ft-rubik { 
    font-family: 'Rubik', sans-serif;
}

.borda {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.margin{
    margin-top: 102px;
    margin-bottom: 102px;
}