<div class="container mb-5 mt-5 ft-rubik">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-dark">Apagar Postagem</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-secondary">Tem certeza que deseja apagar essa postagem?</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="box-post-feed">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <h5 class="ft-rubik  mt-4"><i class="fa fa-user" aria-hidden="true"></i>
                            {{postagem.usuario.nomeCompleto}}</h5>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 d-flex justify-content-center">
                        <p for="titulo" class="ft-rubik mt-3 mr-2"> <strong>Tema:</strong>
                            {{postagem.tema.tema}}</p>
                        <p for="titulo" class="ft-rubik mt-3 mr-2"> <strong>Escolaridade:</strong>
                            {{postagem.escolaridade}}</p>
                        <p for="titulo" class="ft-rubik mt-3"> <strong>Subtema:</strong> {{postagem.subtema}}
                        </p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 d-flex justify-content-center">
                        <h3 for="titulo" class="ft-rubik mt-4">{{postagem.titulo}}</h3>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10 d-flex justify-content-center">
                        <h5 for="texto" class="ft-rubik mt-4">{{postagem.postagem}}</h5>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10 d-flex justify-content-center">
                        <img  class="img-fluid w-100 h-100" src={{postagem.urlImg}} alt="">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 d-flex justify-content-end">
                        <p class="ft-rubik mt-3 mr-5"> {{postagem.date | date: 'dd/MM/yyyy'}} às {{postagem.date |
                            date: 'HH:mm'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="pb-5 row d-flex justify-content-center">
        <div class="col-md-10  d-flex justify-content-center align-items-center mb-4">
            <button class="btn b-cancelar mt-3 mr-3 text-white"
            routerLink="/postagem">Não</button>
            <button data-dismiss="modal" (click)="apagar()"
                class="btn botao text-white mt-3 ">Sim</button>
        </div>
    </div>

