<nav class="navbar navbar-expand-lg  navbar-light bg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center ml-3">
            <li class="nav-item active">
                <img src="../../assets/img/icone branco v2.png" alt="Imagem do logo" ng ser
                    class="logo m-0 p-0" routerLink="/inicio">
            </li>
            <li class="ml-3 nav-item pl-3">
                <a class="m-0 font-weight-bold ft-rubik text-white" routerLink="/inicio"> Home </a>
            </li>
            <li class="nav-item pl-3">
                <a  class="m-0 font-weight-bold ft-rubik text-white" routerLink="/postagem"> Feed </a>
            </li>
            <li class="nav-item pl-3">
                <a [routerLink]="['/user-edit', id]" class="m-0 font-weight-bold ft-rubik text-white" routerLink="/inicio"> Perfil </a>
            </li>
            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold ft-rubik text-white" href="#sobre" (click)='comparar()'> Sobre </a>
            </li>
            <li class="nav-item pl-3">
                <a class="m-0 font-weight-bold ft-rubik text-white" routerLink="/contato"> Contato </a>
            </li>

            <li class="nav-item pl-3">
                <a *ngIf='professor()' class="m-0 font-weight-bold ft-rubik text-white" routerLink="/tema"> Tema </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mr-3">
            <li class="nav-item pl-3">
                <button (click)='sair()' class="ft-color font-weight-bold ft-rubik botao">Sair<i class="fa fa-sign-out ml-2" aria-hidden="true"></i></button>
            </li>
        </ul>
    </div>
</nav>