@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.ft-rubik { 
    font-family: 'Rubik', sans-serif; 
}

.bg{
    background: linear-gradient(180deg, #760AFF 0%, #8F00FF 100%);
}

.logo{
    width: 50px;
    height: 50px;
    padding: 0;
}

.botao{

    
    width: 100px;
    height: 30px;
    left: 1270px;
    top: 18px;
    border: 0px;
    background: #FFFFFF;
    border-radius: 30px;
    
}

.botao:focus{
    outline: none;
}

.ft-color{
    color: #760AFF;
}