<div class="container mt-5 mb-5 p-5">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center ft-rubik">Atualizar Tema</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6 ft-rubik">

            <div class="form-group">
                <label for="tema">Tema</label>
                <input [(ngModel)]="tema.tema" type="text" class="form-control" id="tema">
            </div>

            <div class="d-flex  justify-content-center">
                <button class="text-white btn b-cancelar mr-4" routerLink='/tema'>Cancelar</button>
                <button class="text-white btn b-atualizar" (click)='atualizar()'>Atualizar</button>
            </div>

        </div>
    </div>

</div> 
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#760AFF" fill-opacity="1" d="M0,64L60,53.3C120,43,240,21,360,37.3C480,53,600,107,720,138.7C840,171,960,181,1080,154.7C1200,128,1320,64,1380,32L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>