<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">

                <div class="col-md-10">

                    <h1 class="text-center">Olá, Estudante</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control formato" type="text" name="nome" id="nome" placeholder="Digite seu nome">
                    </div>

                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input class="form-control formato mb-4" type="email" name="email" id="email" placeholder="Digite seu e-mail">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control formato mb-4" type="password" name="senha" id="email" placeholder="Digite sua senha">
                    </div>

                    <div class="form-group">
                        <label for="confirmarSenha">Senha</label>
                        <input class="form-control formato mb-4" type="password" name="confirmarSenha" id="confirmarSenha" placeholder="Confirme sua senha">
                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo de usuário</label>
                       <select class="form-control formato mb-4" name="tipo" id="tipo">
                           <option>Selecione um tipo de usuário</option>
                           <option value="estudante">Estudante</option>
                           <option value="estudante">Professor</option>
                       </select>
                    </div>

                    <div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn b-cancelar mt-3 mr-3 text-white">Cancelar</button>
                            <button type="submit" class="btn b-cadastrar mt-3 text-white">Cadastrar</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>