#img-bg {
    background-image: url('../../assets/img/imagem-cadastrar.png');

    min-height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-cancelar {
    width: 140px;
    height: 40px;
    
    background: linear-gradient(180deg, rgba(164, 163, 166, 0.71) 0%, rgba(100, 100, 100, 0.71) 100%);
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: 45px;

}

.b-cadastrar {
    width: 140px;
    height: 40px;
    left: 1101px;
    top: 849px;
    
    background: linear-gradient(180deg, rgba(118, 10, 255, 0.71) 0%, rgba(5, 0, 255, 0.71) 100%);
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: 45px;

}

.formato {


background: #FFFFFF;
box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}
