<div class="container-fluid bg-gradient">

    <div class="container-fluid d-flex justify-content-center">

        <div class="row d-flex justify-content-center bg-div col-md-4 ft-rubik">
            <div class="col-xl-12">

             

                <div class="d-flex justify-content-center mb-3 mt-3">
                    <h2>Cadastre sua conta </h2>
                </div>

                <div class="form-group">
                    <label for="nome">Nome Completo</label>
                    <input [(ngModel)]="usuario.nomeCompleto" class="form-control formato" type="text" name="nome"
                        id="nome" placeholder="&#xf007;  Digite seu nome completo" style="font-family:Arial, FontAwesome">
                </div>

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input [(ngModel)]="usuario.email" class="form-control formato mb-3" type="email" name="email"
                        id="email" placeholder="&#xf003;  Digite seu email" style="font-family:Arial, FontAwesome">
                </div>

                <div class="form-group">
                    <label for="foto">Link da Foto de Perfil</label>
                    <input [(ngModel)]="usuario.foto" class="form-control formato" type="text" name="foto"
                        id="foto" placeholder="&#xf030;  Insira o link da sua foto" style="font-family:Arial, FontAwesome">
                </div>

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input (input)='confirmarSenha($event)' class="form-control formato mb-3" type="password"
                        name="senha" id="senha" placeholder="&#xf023;  Digite sua senha" style="font-family:Arial, FontAwesome">
                </div>

                <div class="form-group">
                    <label for="confirmarSenha">Confirmar senha</label>
                    <input [(ngModel)]="usuario.senha" class="form-control formato mb-3" type="password"
                        name="confirmarSenha" id="confirmarSenha" placeholder="&#xf023;  Confirme sua senha" style="font-family:Arial, FontAwesome">
                </div>
             

                <div>
                    <div class="d-flex justify-content-center mb-3">
                        <button type="submit" class="btn b-cancelar mt-3 mr-3 text-white"
                            routerLink='/entrar'>Cancelar</button>
                        <button type="submit" class="btn b-cadastrar mt-3 text-white"
                            (click)='cadastrar()'>Cadastrar</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>