@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.ft-rubik { 
    font-family: 'Rubik', sans-serif; 
}

html
{
    scroll-behavior: smooth;
}

.fs-54
{
    font-size: 54pt;
}

.fs-14
{
    font-size: 14pt;
}

.fs-24{
    font-size: 28pt;
}

.fs-18{
    font-size: 18pt;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
