<nav class="navbar fixed-top navbar-expand-lg navbar-light bg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center ml-3">
            <li class="nav-item active">
                <img src="../../assets/img/icone branco v2.png" alt="Imagem do logo" 
                    class="logo m-0 p-0" routerLink="/inicio">
            </li>
            <li class="ml-3 nav-item pl-3">
                <a class="m-0 font-weight-bold ft-rubik text-white" href="#home"> Home </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mr-3">
            <li class="nav-item pl-3">
                <button routerLink='/entrar'  class="ft-color font-weight-bold ft-rubik botao ">Entrar  <i class="fa fa-sign-in" aria-hidden="true"></i></button>
            </li>
        </ul>
    </div>
</nav>

<div id="home" class="container-fluid bg-gradient">
    <div class="row bg-gradient d-flex">
        <div class="col-6 mt-4">
            <img  class="ml-5" width="500px" height="500px" src="https://i.imgur.com/GtUrpBr.png" alt="">
        </div>
        <div class="col-5 ml-3 mt-20 text-justify">
            <h1 class="text-white ft-rubik">
                Seja muito bem vinde!
            </h1>
            <p class="text-white ft-rubik">
                O projeto Genducation tem como objetivo conectar estudantes e professores de qualquer lugar do Brasil, possibilitando o compartilhamento de dúvidas, exercícios, conteúdos e etc.
            </p>
            <p class="text-white ft-rubik">
               No formato de rede social, a Genducation promove a diversidade de postagens para todos, promovendo que qualquer aluno com dúvida encontre sua resposta aqui.
            </p>
            <p class="text-white ft-rubik">
               Com o intuito de gerar a inclusão para aqueles que possuem dificuldade de acesso a uma educação de qualidade dentro da sala de aula, visando disponibilizar uma educação melhor para todos.
             </p>
        </div>
    </div>
    <div class="row bg">
        <div class="col-md-12 d-flex justify-content-center">
            <h3 class="mt-4 text-white ft-rubik text-center">
                O foco do projeto
            </h3>
        </div>
       
    </div>
    <div class="row pb-3 bg">
        <div class=" d-flex justify-content-center col-md-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                   <div class="mt-4 px-5 row d-flex justify-content-center">
                       <div class="col-md-8">
                        <h2 class="text-center text-white">Objetivo</h2>
                        <p class="text-center text-white">
                           Fornecer conteúdo didático de forma acessível a todos.
                        </p>
                       </div>
                    
                   </div>
                    
                  </div>
                  <div class="carousel-item">
                    <div class="mt-4 px-5 row d-flex justify-content-center">
                        <div class="col-md-8 ">
                         <h2 class="text-center text-white">Oportunidade</h2>
                         <p class="text-center text-white">
                             Proporcionar aprendizado para todos, e oportunidade para os professores.
                        </p>
                        </div>
                     
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="mt-4 px-5 row d-flex justify-content-center">
                        <div class="col-md-8 ">
                         <h2 class="text-center text-white">Conexão</h2>
                         <p class="text-center text-white">
                             Conectar alunos e professores de qualquer lugar.
                        </p>
                        </div>
                     
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Próximo</span>
                </a>
              </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row d-flex ">
            <div class="row  align-items-center">
                <div class="col-md-6 mt-4 ft-rubik">
                    <h2 class=" mb-2 text-center text-white">
                        Missão
                    </h2>
                    <h5 class=" pb-2 text-white text-justify">
                        Nossa missão é conectar estudantes e professores. Criando um ambiente de estudo acessível para todos e todas. Contribuindo para a ODS 4 da ONU, que assegura  a educação inclusiva e equitativa e de qualidade, e promover oportunidades de aprendizagem ao longo da vida para todos e todas.
                    </h5>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <img class="img-fluid mt-5" width="500px" height="500px" src="https://i.imgur.com/4Up0XvN.png" alt="">
                </div>
            </div>
            <div class="row   align-items-center">
                <div class="col-md-6 d-flex justify-content-center">
                    <img class="img-fluid mt-5" width="500px" height="500px" src="https://i.imgur.com/qwkhiHQ.png" alt="">
                </div>
                <div class="col-md-6 mt-4 ft-rubik">
                    <h2 class=" mb-2 text-center text-white">
                        Visão
                    </h2>
                    <h5 class=" pb-2 text-white text-justify">
                        Aspiramos ser uma rede social que transforme a vida de pessoas através da conexão e compartilhamento.
                    </h5>
                </div>
              
            </div>
            <div class="row  align-items-center">
                <div class="col-md-6 mt-4 ft-rubik">
                    <h2 class=" mb-2 text-center text-white">
                        Valores
                    </h2>
                    <h5 class=" pb-2 text-white text-justify">
                        Prezamos pela diversidade, transparência, aprendizagem, acessibilidade e inclusão. Esses valores guiam o projeto e transparece quem somos.
                    </h5>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <img class="img-fluid mt-5" width="500px" height="500px" src="https://i.imgur.com/6kFM6lW.png" alt="">
                </div>
            </div>
        </div>
     
    </div>
    
   
</div>

<footer class="page-footer pt-3 bg-gradient-footer m-0">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center ">
                <p class="p-0 text-white mr-3 ft-rubik">Todos os direitos reservados: Time Genducation &copy;</p>
                <p class="p-0 mr-3"><a href="https://github.com/guiAdaCruz/PI_Genducation_FrontEnd" target="_blank"><img class="logo" src="../../assets/img/github.png" alt="Logo do github"></a></p>
                <p class="p-0 mr-3"><a href="https://www.instagram.com/generationbrasil" target="_blank"><img class="logo" src="../../assets/img/instagram.png" alt="Logo do instagram"></a></p>
                <p class="p-0 mr-3"><a href="http://www.facebook.com/generationbrasil" target="_blank"><img class="logo" src="../../assets/img/facebook.png" alt="Logo do facebook"></a></p>
                <p class="p-0 mr-3"><a href="http://www.linkedin.com/school/generationbrasil/" target="_blank"><img class="logo" src="../../assets/img/linkedin.png" alt="Logo do linkedin"></a></p>
            </div>
        </div>
    </div>
    
    </footer>
    