<div class="container-fluid">

    <div class="row bg-gradient d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h2>
                        <p class="fs-40">Bem vinde, {{nome}}</p>
                        <p class="fs-20">Conheça um pouco mais sobre a iniciativa do projeto Genducation!</p>
                    </h2>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6 d-flex justify-content-flex-start">
                    <button  class="btn botao" data-toggle="modal"><a class="text-decoration-none" href="#sobre"> Saiba mais</a></button>
                </div>
            </div>

        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/IiczceX.png" alt="" width="500px" height="500px">
        </div>
    </div>

</div>

<div class="container ft-rubik mb-5 ">
    <h1 id="sobre" class="mt-4 mb-4 ft-rubik pt-4 text-center">Sobre a Genducation!</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-6 mt-5">
                    <h2 class="mt-4 mb-3">Motivação</h2>
                    <p  class="text-justify">A ideia surgiu durante o Bootcamp da Generation Brasil e o projeto se trata de uma rede social com base no <strong>4º Objetivo de Desenvolvimento Sustentável da ONU - Educação de qualidade</strong> que tem como objetivo assegurar a educação inclusiva, equitativa, de qualidade e promover oportunidades de aprendizagem ao longo da vida para todos e todas.</p>
                </div>

                <div class="col-md-6 m-0 p-0 d-flex align-items-center justify-content-center">
                    <img class="w-75 p-0" src="./assets/img/About-us.png" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid ft-rubik">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mt-4 mb-4 fs-32">Time de Desenvolvimento</h2>
        </div>
    </div>
</div>

<!--Cards-->
<div class="row row-cols-1 row-cols-md-3 mt-5 center m-0 mb-5">
    <div class="col-md-12 mb-6 m-0 center">

        <!--Primeira linha-->
        <div class="row center m-0">
            <!--Card Alan-->
            <div class="card h-100 br afastamento card-zoom">
                <img src="https://i.imgur.com/wq6a3zP.png" class="card-img-top img-size mt-3" alt="Foto do Alan">
                <div class="card-body">
                    <h5 class="card-title">Alan Carlos</h5>
                    <p class="card-text m-0 p-0">Desenvolvedor Web</p>
                    <p class="card-text m-0 p-0 mb-3">Java Full Stack jr.</p>

                    <div class="row center">
                        <div class="p-0 mr-3 mb-0"><a href="https://github.com/AlanCS7" target="_blank"><img
                                    class="logo" src="../../assets/img/github.png" alt="Logo do github"></a></div>
                        <div class="p-0"><a href="https://www.linkedin.com/in/alan-carlos-300124181/"
                                target="_blank"><img class="logo" src="../../assets/img/linkedin.png"
                                    alt="Logo do linkedin"></a></div>
                    </div>
                </div>
            </div>

            <!--Card Fabrício-->
            <div class="card h-100 br afastamento card-zoom">
                <img src="https://i.imgur.com/ZVBw6VG.png" class="card-img-top img-size mt-3" alt="Foto do Alan">
                <div class="card-body">
                    <h5 class="card-title">Fabrício Rocha</h5>
                    <p class="card-text m-0 p-0">Desenvolvedor Web</p>
                    <p class="card-text m-0 p-0 mb-3">Java Full Stack jr.</p>

                    <div class="row center">
                        <div class="p-0 mr-3 mb-0"><a href="https://github.com/fabricior0cha" target="_blank"><img
                                    class="logo" src="../../assets/img/github.png" alt="Logo do github"></a>
                        </div>
                        <div class="p-0"><a href="https://www.linkedin.com/in/fabricio-rocha-097392210/"
                                target="_blank"><img class="logo" src="../../assets/img/linkedin.png"
                                    alt="Logo do linkedin"></a></div>
                    </div>
                </div>
            </div>

            <!--Card Gui-->
            <div class="card h-100 br afastamento card-zoom">
                <img src="https://i.imgur.com/9SoANs8.png" class="card-img-top img-size mt-3" alt="Foto do Alan">
                <div class="card-body">
                    <h5 class="card-title">Guilherme Cruz</h5>
                    <p class="card-text m-0 p-0">Desenvolvedor Web</p>
                    <p class="card-text m-0 p-0 mb-3">Java Full Stack jr.</p>

                    <div class="row center">
                        <div class="p-0 mr-3 mb-0"><a href="https://github.com/guiAdaCruz?tab=repositories" target="_blank"><img
                                    class="logo" src="../../assets/img/github.png" alt="Logo do github"></a></div>
                        <div class="p-0"><a href="https://www.linkedin.com/in/guilherme-cruz-144539230/"
                                target="_blank"><img class="logo" src="../../assets/img/linkedin.png"
                                    alt="Logo do linkedin"></a></div>
                    </div>
                </div>
            </div>
      
        </div>
    </div>

    <div class="col-md-12 mb-6 m-0 center">
        <!--Segunda linha-->
        <div class="row center m-0 mt-5">
           
            <!--Card Josi-->
            <div class="card h-100 br afastamento card-zoom">
                <img src="https://i.imgur.com/zGHbHwV.png" class="card-img-top img-size mt-3" alt="Foto do Alan">
                <div class="card-body">
                    <h5 class="card-title">Josiane Caroliny</h5>
                    <p class="card-text m-0 p-0">Desenvolvedora Web</p>
                    <p class="card-text m-0 p-0 mb-3">Java Full Stack jr.</p>

                    <div class="row center">
                        <div class="p-0 mr-3 mb-0"><a href="https://github.com/JosianeCaroliny" target="_blank"><img
                                    class="logo" src="../../assets/img/github.png" alt="Logo do github"></a></div>
                        <div class="p-0"><a href="https://br.linkedin.com/in/josianecsn"
                                target="_blank"><img class="logo" src="../../assets/img/linkedin.png"
                                    alt="Logo do linkedin"></a></div>
                    </div>
                </div>
            </div>
            
            <!--Card Lucas-->
            <div class="card h-100 br afastamento card-zoom">
                <img src="https://i.imgur.com/U6FXElv.png" class="card-img-top img-size mt-3" alt="Foto do Alan">
                <div class="card-body">
                    <h5 class="card-title">Lucas Melo</h5>
                    <p class="card-text m-0 p-0">Desenvolvedor Web</p>
                    <p class="card-text m-0 p-0 mb-3">Java Full Stack jr.</p>

                    <div class="row center">
                        <div class="p-0 mr-3 mb-0"><a href="https://github.com/LucasCostaMelo" target="_blank"><img
                                    class="logo" src="../../assets/img/github.png" alt="Logo do github"></a>
                        </div>
                        <div class="p-0"><a href="https://www.linkedin.com/in/lucas-melo-53b852165/"
                                target="_blank"><img class="logo" src="../../assets/img/linkedin.png"
                                    alt="Logo do linkedin"></a></div>
                    </div>
                </div>
            </div>

             <!--Card Wesley-->
            <div class="card h-100 br afastamento card-zoom">
                <img src="https://i.imgur.com/J61H9to.png" class="card-img-top img-size mt-3" alt="Foto do Alan">
                <div class="card-body">
                    <h5 class="card-title">Wesley Ninaja</h5>
                    <p class="card-text m-0 p-0">Desenvolvedor Web</p>
                    <p class="card-text m-0 p-0 mb-3">Java Full Stack jr.</p>

                    <div class="row center">
                        <div class="p-0 mr-3 mb-0"><a href="https://github.com/WesNinaja" target="_blank"><img
                                    class="logo" src="../../assets/img/github.png" alt="Logo do github"></a></div>
                        <div class="p-0"><a href="https://www.linkedin.com/in/wesleycalle/"
                                target="_blank"><img class="logo" src="../../assets/img/linkedin.png"
                                    alt="Logo do linkedin"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
