<div class="container-fluid">

    <div class="row bg-gradient d-flex align-items-center">
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h2>
                        <p class="fs-40">Bem vinde, {{nome}}</p>
                        <p class="fs-20">Conheça um pouco mais sobre a iniciativa do projeto Genducation!</p>
                    </h2>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6 d-flex justify-content-flex-start">
                    <button class="btn botao" data-toggle="modal">Saiba mais</button>
                </div>
            </div>

        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/IiczceX.png" alt="" width="500px" height="500px">
        </div>
    </div>

</div>


<div class="row m-0">
    <div class="col-md-10 d-flex justify-content-center mt-3 p-0">
        <p class="ft-rubik fs-18">Confira os temas de estudos, ou se preferir, <a routerLink="/tema">cadastre um novo:</a></p>
    </div>
</div>

<div class="row d-flex justify-content-center m-0">
    <div class="col-md-6 mt-3 mb-3">
        <button class="btn btn-temas ft-rubik mt-3 mb-3" *ngFor="let tema of listaTemas">{{tema.tema}}</button>
    </div>
</div>
    
    


  
  
