.bg-gradient{
background: linear-gradient(180deg, #7003C6 0%, #C316FF 100%);
}

.botao{

    width: 110px;
    height: 40px;
    left: 1270px;
    top: 18px;
    border: 0px;
    background: #FFFFFF;
    border-radius: 30px;
    color: #9F0DE6;
}

.btn-temas{
    width: 174px;
    height: 75px;
    left: 199px;
    top: 610px;
    margin-left: 20px;
    margin-right: 20px;
    background: linear-gradient(180deg, #7003C6 0%, #C316FF 100%);
    border-radius: 5px;
    color: white;
    font-size: 15pt;
}

.fs-40{
    font-size: 40pt;
}

.fs-20{
    font-size: 20pt;
}

.fs-32{
    font-size: 32pt;
}

.img-size{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.card {
    background: linear-gradient(180deg, #7003C6 0%, #C316FF 100%);
    color: white;
    width: 220px;
    height: 340px;
    margin: 10;
    display: inline-block;
    text-align: left;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline{
    display: inline;
    justify-content: center;
    align-items: center; 
}

.br{
    border-radius: 50px;
}

.logo{
    width:40px;
    height: 40px;
}

.afastamento{
    margin-left: 25px;
    margin-right: 25px;
}